Flask==2.2.5
Flask-Cors==3.0.10
Flask-MonitoringDashboard==3.0.6
numpy==1.23.5
pandas==1.5.3
scikit-learn==1.2.2
xgboost==1.7.6
kneed==0.7.0
matplotlib==3.6.3
joblib==1.2.0
PyYAML==6.0
jsonschema==4.17.3
python-dateutil==2.8.2
pytz==2023.3
six==1.16.0
Werkzeug==2.2.3
MarkupSafe==2.1.2
itsdangerous==2.1.2
Jinja2==3.1.2
certifi==2023.11.17
click==8.1.7
kiwisolver==1.4.5
pyparsing==3.0.9
pyrsistent==0.19.3
zipp==3.17.0
